.parent {
    width: 100%;
   display: flex;
}

.sidebar {
    width: 20%;
}

.cardd {
    width: 80%;
}
.tspinner{
width: 100%;
height: 80vh;
display: flex;
justify-content: center;
align-items: center;
}


@media screen and (max-width: 768px) {
    .parent{
        display: block;
    }
    .cardd {
        width: 100%;
    }
    .sidebar {
        width: 98%;
        margin: auto;
    }
}
